@import './variables';


.panel-title {
    padding: 1.2rem;
    background: $light-background;
}

.panel-controls {
    padding: 1.2rem;
}

.panel-inputs {
    display: flex;
}

.panel-layers {
    .layers {
        height: 30rem;
        padding: 0.6rem 1.2rem;
    
        .layer {
            display: flex;
            padding: 0.6rem 0;
            align-items: center;

            > img {
                margin-right: 1.2rem;
            }
        }
    
        .layer-toggle {
            opacity: 0.5;
            margin-left: auto;
            
            transition: all 0.15s ease-in-out;
        
            &[data-visible='true'] {
                opacity: 1;
            }
        }

        input {
            border: none;
            background: none;
            color: $body-copy;
        }
    }

    button {
        border: none;
        cursor: pointer;
        background: none;
    }
}
label {
    padding: 0.6rem;
    
    span {
        display: block;
        color: $body-copy;
        font-size: 1.2rem;
        font-family: $roboto;
        margin-bottom: 0.6rem;
    }

    input {
        border: none;
        padding: 0.6rem;
        color: $body-copy;
        font-family: $roboto;
        background: $dark-background;
    }
}



